.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade {
  animation-fill-mode: both;
  animation: 10s fadeout;
  animation-iteration-count: infinite;
}

@keyframes fadeout {
  60%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.question {
  margin: 0;
  line-height: 21px;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #818181;
  text-align: center;
  animation: fadein 10s infinite;
  animation-fill-mode: both;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  10%,
  20%,
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.choices {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.choices li {
  height: 70px;
  border-radius: 69px;
  box-shadow: 0px 5px 19px 0px #2a2b6833;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6231ec;
  animation: slidein 10s infinite;
}

@keyframes slidein {
  0% {
    margin-top: 200%;
  }
  10% {
    margin-top: 100%;
  }
  50% {
    margin-top: 0%;
  }
  100% {
    margin-top: 0%;
  }
}

.choices label {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.choices input[type='radio'] {
  appearance: none;
  margin-right: 25px;
  width: 2em;
  height: 2em;
  border: 3px solid #6231ec;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.choices input[type='radio']::before {
  content: '';
  width: 2em;
  height: 2em;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 3em 3em #6231ec;
}

.choices input[type='radio']:checked::before {
  /* animation: answer 8s;
  animation-delay: 12s;
  animation-iteration-count: infinite; */
}

@keyframes answer {
  0%,
  20% {
    transform: scale(0);
  }
  30%,
  70%,
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-decoration: none;
  border: 0.5px solid #6231ec;
  border-radius: 74px;
  max-width: 500px;
  height: 350px;
  overflow: hidden;
}
